/* global */
body {
	margin: 0;
}

/* editor */
#editor {
	position: absolute;
	top: 5px; left: 5px;
	z-index: 1;
	height: 98%;

	/* stateful */
	width: 50px;
}
.editor-open-view {
	display: none;
	height: 100%;
}
.editor-controls {
	text-align: right;
}

/* slang-search */
slang-search > input {
	display: inline-block;
	width: 100%;
}

/* slang-form */
slang-form {
	display: block;
	margin: 1px 0;
	border: 3px ridge #ccc;
}
slang-form > .slang-form-title {
	background: #ccc;
	color: #444;
	font-size: 75%;
	padding: 0 3px;
}
slang-form > .slang-form-title a {
	float: right;
	text-decoration: none;
}
slang-form > .slang-form-title a:hover {
	text-decoration: underline;
}
slang-form > .slang-form-body {
	padding: 1em;
}

/* playground */
#playground {
	padding: 1em;

	/* stateful */
	margin-left: 50px;
}

/* editor open mode */
.mode-editoropen #editor {
	width: 33%;
}
.mode-editoropen .editor-closed-view {
	display: none;
}
.mode-editoropen .editor-open-view {
	display: block;
}
.mode-editoropen #playground {
	margin-left: 33%;
}